body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0f0f0;
  text-shadow: 0 0 3px #fff4;
  transition: background-image 0.5s linear;
}

/* Light Theme */

body {
  --overlay-background: #d0d0d0;
  --highlight-background: #b9b9b9;
  --icon-filter: brightness(0);
  --black-icon-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
  --primary-color: #1c1e22;
  --secondary-color: #5f6670;
  --overlay-secondary-color: #9fa0a1;
  --tertiary-color: #0006;
  --divider-color: #0001;
  --divider-background: #b8bcc0;
  --border-color: #b8bcc0;
  --primary-text-shadow: 0 0 3px #fff2, 0 0 12px #fff4;
  --secondary-text-shadow: 0 0 3px #fff4;
  background-image: url(./bg-light.jpg);
}

/* Dark Theme */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #404040;
    text-shadow: 0 0 3px #0004;
    --overlay-background: #202327;
    --highlight-background: #0004;
    --icon-filter: initial;
    --black-icon-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
      brightness(90%) contrast(96%);
    --primary-color: white;
    --secondary-color: #fff9;
    --tertiary-color: #fff6;
    --divider-color: #fff1;
    --divider-background: #5b5e61;
    --border-color: #5b5e61;
    --primary-text-shadow: 0 0 3px #0002, 0 0 12px #0004;
    --secondary-text-shadow: 0 0 3px #0004;
  }
}

/* Tippy Overrides */

.tippy-reset.tippy-box {
  background: unset;
}

.tippy-reset .tippy-content {
  padding: 0;
}

.tippy-reset .tippy-arrow {
  color: #ffffff5f;
}
